@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    width: 100%;
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #2B2D42;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.page-container{
    width: 96%;
    margin: 0 auto;
}

h1.page-title{
    font-size: 18px;
}
.form-container{
    clear: both;
}

.form-grid{
    display: flex;
    flex-direction: row;
    
}

@media (max-width: 800px) {
    .form-grid {
      flex-direction: column;
    }
}

.input-box{
   padding: 5px;
}

#columnCount{
    width: 40px;
    background-color: #F7EC59;
    color: #2B2D42;
    margin: 0px 20px;
}

#createGrid{
    background: #92DCE5;
    color: #2B2D42;
}

#createGrid.reset{
    background-color: #FF66D8;
}

#addBox{
    background: #92DCE5;

}

.grid-container{
    clear: both;
    width: 100%;
    display: grid;
    background: #92DCE5;
    gap: 10px;
    grid-auto-flow: row dense;
    overflow-x: scroll;
    padding: 5px;
}



.grid-box{
    background: #F7EC59;
    color: #2B2D42;
    border: 1px solid dashed;
    position: relative;
   
    text-align: center;
}

.grid-box h3{
    vertical-align: middle;
    font-size: 12;
}

.grid-box .delete-box{
    position: absolute;
    right: 3px;
    top: 3px;
    
    cursor: pointer;
}

@media (max-width: 800px) {
    .grid-container h3{
        font-size: 10px;
        margin:0;
        padding: 0;
    }
    .grid-box .delete-box{
        font-size: 10px;
        right: 1px;
        top: 0px;
    }
}